@font-face {
  font-family: "Cheltenham";
  src: url("CheltenhamBT-BoldHeadline.eot");
  src: url("CheltenhamBT-BoldHeadline.eot?#iefix") format("embedded-opentype"),
    url("CheltenhamBT-BoldHeadline.woff2") format("woff2"),
    url("CheltenhamBT-BoldHeadline.woff") format("woff"),
    url("CheltenhamBT-BoldHeadline.ttf") format("truetype"),
    url("CheltenhamBT-BoldHeadline.svg#CheltenhamBT-BoldHeadline") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cheltenham";
  src: url("CheltenhamStd-Book.eot");
  src: url("CheltenhamStd-Book.eot?#iefix") format("embedded-opentype"),
    url("CheltenhamStd-Book.woff2") format("woff2"),
    url("CheltenhamStd-Book.woff") format("woff"),
    url("CheltenhamStd-Book.ttf") format("truetype"),
    url("CheltenhamStd-Book.svg#CheltenhamStd-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cheltenham";
  src: url("CheltenhamStd-Light.eot");
  src: url("CheltenhamStd-Light.eot?#iefix") format("embedded-opentype"),
    url("CheltenhamStd-Light.woff2") format("woff2"),
    url("CheltenhamStd-Light.woff") format("woff"),
    url("CheltenhamStd-Light.ttf") format("truetype"),
    url("CheltenhamStd-Light.svg#CheltenhamStd-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martha";
  src: url("Martha-Black.eot");
  src: url("Martha-Black.eot?#iefix") format("embedded-opentype"),
    url("Martha-Black.woff2") format("woff2"),
    url("Martha-Black.woff") format("woff"),
    url("Martha-Black.ttf") format("truetype"),
    url("Martha-Black.svg#Martha-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martha";
  src: url("Martha-Regular.eot");
  src: url("Martha-Regular.eot?#iefix") format("embedded-opentype"),
    url("Martha-Regular.woff2") format("woff2"),
    url("Martha-Regular.woff") format("woff"),
    url("Martha-Regular.ttf") format("truetype"),
    url("Martha-Regular.svg#Martha-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martha";
  src: url("Martha-Bold.eot");
  src: url("Martha-Bold.eot?#iefix") format("embedded-opentype"),
    url("Martha-Bold.woff2") format("woff2"),
    url("Martha-Bold.woff") format("woff"),
    url("Martha-Bold.ttf") format("truetype"),
    url("Martha-Bold.svg#Martha-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martha";
  src: url("Martha-Light.eot");
  src: url("Martha-Light.eot?#iefix") format("embedded-opentype"),
    url("Martha-Light.woff2") format("woff2"),
    url("Martha-Light.woff") format("woff"),
    url("Martha-Light.ttf") format("truetype"),
    url("Martha-Light.svg#Martha-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
